
<!-- Tab links -->
<div class="tab">
  <button class="tablinks" onclick="openRubric(event, 'Presentation')">Présentation</button>
  <button class="tablinks" onclick="openRubric(event, 'Menu')">Menu</button>
  <button class="tablinks" onclick="openRubric(event, 'Blog')">Blog</button>
</div>

<!-- Tab content -->
<div id="Presentation" class="tabcontent">
  <h3>Présentation</h3>
  <p>Food Trip est un restaurant qui vous fait voyager en mangeant simple et bon.</p>
</div>

<div id="Menu" class="tabcontent">
  <h3>Menu</h3>
  <p>Nous vous proposons un large choix de bokits.</p> 
</div>

<div id="Blog" class="tabcontent">
  <h3>Blog</h3>
  <p>Retrouvez nos articles dédiés à la gastronomie caraïbenne.</p>
</div>